.videojuego{
    background: burlywood;
    width: 400px;    
    border-radius: 20px;
    border: 1px solid brown;
    text-align: center;
    background: darkgrey;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}