<h2 class="animated flash">{{ titulo }}</h2>
<!-- *ngFor: directiva estructural que permite recorrer un array de objeto o array de cualquier tipo. -->
<!-- Direciva ngIf : condición -->
<!-- Hacer que aparezca una etiqueta cuando el precio sea menor o igual a 80 -->
<p>Añadir marca</p>
<!-- [(ngModel)] es una directiva -->
<!-- para usar ngModel hay que importarlo dentro del modulo de la app -->
<p>
  <input type="text" name="textp" id="text1" [(ngModel)]="mi_marca" />
  </p>
  <p>
  <button (click)="getMarca()">Obtener Marca</button>
  </p>
  <p>
  <button (click)="addMarca()" *ngIf="marca_no_repetida.indexOf(mi_marca)<0">Añadir Marca</button>
  <span *ngIf="!(marca_no_repetida.indexOf(mi_marca)<0)">Marca ya existe</span>
  </p>
{{ mi_marca }}

<p>Compra las zapatillas de las mejores marcas</p>
<ul>
  <li *ngFor="let marca of marca_no_repetida; let indice = index">
    {{ indice + " - " + marca }}
  </li>
</ul>
<ul>
  <li *ngFor="let deportiva of zapatillas">
    <span
      [ngStyle]="{
        'text-decoration': !deportiva.stock ? 'line-through' : 'none'
      }"
      >{{ deportiva.nombre }} - <strong>{{ deportiva.precio }}&nbsp;</strong>
      <span *ngIf="!deportiva.stock">No disponible</span></span
    >
    <span
      *ngIf="deportiva.precio <= 80 && deportiva.stock"
      [style.background]="deportiva.precio <= 80 ? 'green' : 'transparent'"
      [style.color]="deportiva.precio <= 80 ? 'white' : 'black'"
      [ngStyle]="{
        'text-decoration': deportiva.precio <= 40 ? 'blink' : 'none'
      }"
      >¡EN OFERTA!</span
    >
  </li>
</ul>

<p>El color de la mayoria de nuestras zapatillas es:</p>
<label for="text2">Añadir color: </label>
<input type="text" name="text2" id="textColor" [(ngModel)]="color">
<ul [ngSwitch]="color.trim()">
  <li *ngSwitchCase="'yellow'">
    El color predominante es el:
    <span [ngStyle]="{ background: color }">Amarillo</span>.
  </li>
  <li *ngSwitchCase="'red'">
    El color predominante es el: <span [ngStyle]="{ background: color }">Rojo</span>
  </li>
  <li *ngSwitchCase="'blue'">
    El color predominante es el: <span [ngStyle]="{ background: color }">Azul</span>
  </li>
  <li *ngSwitchCase="'orange'">
    El color predominante es el:
    <span [ngStyle]="{ background: color }">Naranja</span>
  </li>
  <li *ngSwitchCase="color.trim().length<0">    
    El color predominante es el:
    <span [ngStyle]="{ background: color }">Agregar un color</span>
  </li>
</ul>
