<!-- [ngStyle]="{'':x|'x',...}" es una directiva de atributos-->
<div
  [ngStyle]="{
    background: config.fondo,
    padding: '20px',
    border: '5px solid black',
    'border-color': config.color
  }"
>
  <h1>Bienvenido {{ title }}!</h1>
  <p>{{ descripcion }}</p>

  <!-- Boton para ocultar videojuego -->
  
  <!-- <button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">
    Ocultar
  </button> -->

  <!-- <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">
    Mostrar
  </button> -->

  <!-- <videojuego *ngIf="mostrar_videojuegos"></videojuego> -->

  <!-- Usando componente celular  -->
  <!-- <celular></celular> -->
  <!-- Usando componente zapatilla -->
  <!-- <zapatilla></zapatilla> -->
  <!-- Usando el componente cursos -->
  <!-- <cursos></cursos> -->
  <!-- <button (click)="toTheTop()">Ir al inicio-Ya</button> -->

  <!-- Cargar la etiqueta en la que se cargará dinámicamente  las paginas que tenga el url de la página del navegador.-->
  
  <!-- Crear un menú de navegación instantanea -->

  <nav [ngClass]="['navPrincipal']">
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>
    <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>
    <a [routerLink]="['/celular']" [routerLinkActive]="['active']">Celulares</a>
    <a [routerLink]="['/videojuegos']" [routerLinkActive]="['active']">Videojuegos</a>    
    <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo</a>    
    <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>    
  </nav>
  <hr>
  <router-outlet></router-outlet>  
</div>


