
<p>Componente Externo</p>

<!-- Se crea un input para mostrar un usuario segun el dato insertado, esto cargará de manera automática con el ngModel haciendo click. Si user es true se muestran los datos, si no no se muestran los datos. -->

<!-- Imprimimos la fecha usando pipe -->
<p>Imprimimos la fecha usando pipe/filtros</p>
<p>Fecha sin filtro: {{fecha}}</p>
<p>Fecha con parametros especificados: {{fechaParame}}</p>

<!-- Para usar filtros hay que usar la tuberia o el simbolo solo O -->
<!-- Ojo que podemos agregar pipes de librerias externas ejemplo los pipe que ofrece angular -->
<!-- También tenemos la posibilidad de agregar filtro en los textos o cadenas he aqui unos ejemplos. -->
<p>Fecha con filtro fecha: {{fechaFiltro | date:'fullDate'}}</p>
<p>Fecha con filtro fecha y texto: {{fechaFiltro | date:'fullDate' | uppercase}}</p>
<p>Fecha con filtro 2: {{ fechaFiltro | date:'dd/MM/yyyy' }}</p>
<p>Usando pipe en texto: {{ 'HOLA MUNDO USANDO PIPES' | lowercase}}</p>
<!-- Usamos el pipe creado -->
<p>Usando el pipe personalizado: {{3 | calculadora: 2}}</p>



<h4>Obtenemos los datos a través de Servicios, HTTP y Ajax.</h4>
<input type="text" name="" id="" [(ngModel)]="userId" (keyup.enter)='cargaUsuario()'>
<div *ngIf="!user">
    <img src="https://tenor.com/view/loading-cargando-gif-15269201.gif" width="130px" alt="" srcset="">    
</div>
<div *ngIf="user">
    <img src="{{user.avatar}}" alt="" srcset="">
    <p>Nombre: {{user.first_name +  ' ' + user.last_name}}</p>
    <p>Email: {{user.email}}</p>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Hola mudo</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsam, nulla eaque amet excepturi reiciendis consequatur ratione nesciunt saepe facere.</p>
    </div>
</div>
<hr>
<h2>Crear usuario</h2>
<!-- el nombre de formulario en angular no debe de coincidir con el método que se ejecutará al hacer submit ejemplo <form action="#" #newUser="ngForm" (ngSubmit)="newUser(newUser)"> dará error-->
<form action="#" #newUser="ngForm" (ngSubmit)="addUserFom(newUser)">

    <p>
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" #name="ngModel" [(ngModel)]="new_user.name" required>
        <span *ngIf="name.touched && !name.valid">Nombre requerido</span>
    </p>
    <p>
        <label for="job">Trabajo</label>
        <input type="text" name="job" id="job" #job="ngModel" [(ngModel)]="new_user.job" required>
        <span *ngIf="job.touched && !job.valid">Trabajo requerido</span>
    </p>
    <input type="submit" value="Guardar usuario" [disabled]="!newUser.form.valid">

</form> 

<hr>
<div *ngIf="usuario_guardado">
    <p>Datos guardado</p>
    <h2>{{usuario_guardado.name}}</h2>
    <h2>{{usuario_guardado.job}}</h2>
</div>